<div class="container">
  <div class="page-header">
    <h1>Task List</h1>      
  </div>
  <div class="form"> 
    <form>
    <div class="row">
         <div class="col-xs-5 col-md-7">
             <input type="text" class="form-control" placeholder="Task Description" ng-model="list.taskModel.name">
        </div>
        <div class="col-xs-5 col-md-3">
          <date-time-picker ng-model="list.taskModel.dueBy"></date-time-picker>
        </div>
         <div class="col-xs-2 col-md-2">
             <button type="submit" class="btn btn-primary pull-right" ng-click="list.newTask();">Add</button>
         </div>
    </div>
    

    
    </form> 
  </div>
  <ul class="list-group" ng-init="list.getAllTaskList();">
      
    <li class="list-group-item" ng-repeat="task in list.toDOList">
        <label class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">{{task.name}}<span class="due-date">Due By: {{task.dueBy}}</span></span>
        </label>
    </li>
    <li class="list-group-item list-group-item-success">Dapibus ac facilisis in</li>
    <li class="list-group-item list-group-item-info">Cras sit amet nibh libero</li>
    <li class="list-group-item list-group-item-warning">Porta ac consectetur ac</li>
    <li class="list-group-item list-group-item-danger">Vestibulum at eros</li>
  </ul>
</div>  

<script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
